.main-app {
  background-color: #fafafc;
  border: 1px solid #ccc;
  margin: 1rem 0;
}

.user-list-area {
  padding: 1rem 0;
}
.user-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap
}

.card {
  width: 30%;
  min-width: 300px;
}

h2 {
  padding: 2rem 0 2rem 1rem;
  background-color: #ccc;
}
